@import "/src/styles/abstracts/variables";

.input {
    padding: 12px 23px;
    border-radius: 10px;
    background-color: $color_secondary;
    height: 45px;
    color: $color_white;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-size: 14px;
}

.icon {
    height: 20px;
    position: absolute;
    right: 23px;
    top: 13px;
    cursor: pointer;
}