@import "/src/styles/abstracts/variables";

.heading {
    font-size: 25px !important;
    color: "black";
}
.dashboard-content {
    width: 100%;
    margin-left: $sidebar_width;
}
.dashboard-button {
    outline: none;
    border: none;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #373A47;
    color: white;
}